@model ThinkAnimal.Model.Feature

<h2>Edit animal and feature</h2>
@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Edit form</legend>
		@Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Animal)
        @Html.HiddenFor(model => model.ParentFeature)
        @Html.HiddenFor(model => model.ParentFeatureAnswerIsYes)

		@if (Model.Animal != null) {
		    <p>Animal</p>
		  <div class="editor-field">
				@Html.EditorFor(model => model.Animal.Title)
				@Html.ValidationMessageFor(model => model.Animal.Title)
		  </div>
		}
	    <p>Feature</p>
		<div class="editor-field">
			@Html.EditorFor(model => model.Text)
			@Html.ValidationMessageFor(model => model.Text)
		</div>
			<input type="submit" value="Save" class="btn btn-primary btn-large"/>
	</fieldset>
}